.caracter-wrapper {
  display: flex;
  flex-wrap: wrap;
  width: 90%;
}

.caracter {
  display: flex;
  flex-flow: column;
  width: 200px;
  height: 250px;
  padding: 10px;
  cursor: pointer;
  align-items: center;
}

.caracter:hover {
  border: 1px solid rgb(187, 180, 180);
}

.caracter-image {
  margin-top: 5px;
  width: 180px;
  height: 180px;
  flex-wrap: wrap;
  flex-flow: row;
}

.caracter-info {
  flex-flow: row;
  font-size: 12px;
  font-weight: bold;
}
